body{
    font-family: "Bitcount Prop Single";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: darkslateblue;
}

#section1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    letter-spacing: 10px;
    font-size: 50px;
}

h4{
    letter-spacing: 5px;
}

h1, h4 {
    color: gold;
}

#section2{
    width: 50%;
}

input{
    font-family: "Bitcount Prop Single";
}